#odinrt{
    color: yellow;
    font-weight: 100;
    background-color: black;
}

#pastries{
    color: aqua;
    background-color: black;
}

#drinks{
    color:crimson;
    background-color: black;
}

#breakfasts{
    color: beige;
    background-color: black;
}